.service {
	&__back-img {
		margin-bottom: 30px;
		max-width: 396px;
		aspect-ratio: 33/25;
	}

	&__img {
		max-width: 396px;
		width: 100%;
		aspect-ratio: 33/25;
		transform: translate(-20px, 20px);
	}

	&__text {
		line-height: 120%;
		font-size: 30px;
	}
}
