<nav class="menu">
	<div class="menu__container">
		<a id="menu-close" href="#" class="menu__close">
			<span></span>
		</a>


		<p class="menu__text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum, adipiscing amet in egestas sem
			dui, arcu faucibus
			scelerisque. Nisl est felis id volutpat. Sed dolor fermentum amet lectus nibh quis. Tortor donec pellentesque leo
			ac
			placerat. Morbi.
		</p>

		<div class="menu__contact contact">
			<h3 class="contact__title">Контакты</h3>
			<ul class="contact__list">
				<li><a href="#">+7 (812) 123-45-67</a></li>
				<li><a href="#">+7 (911) 123-45-67</a></li>
				<li><a href="#">Новоостровский проспект, дом 36 лит. С</a></li>
			</ul>
		</div>

		<div class="menu__schedule contact">
			<h3 class="contact__title">Режим работы</h3>
			<ul class="contact__list">
				<li>C 10:00 до 21:00 (Пн-Пт)</li>
				<li>С 11:00 до 20:00 (Сб-Вс)</li>
			</ul>
		</div>
	</div>
</nav>