.description {
	&__container {
		max-width: 886px;
		width: 100%;
		text-align: center;
		font-size: 27px;
		padding-top: 120px;
		padding-bottom: 115px;
	}

	&__marks {
		width: 80px;
		height: 64px;
		fill: $primaryColor;
		margin: 0 auto;
		margin-bottom: 60px;
	}

	p {
		line-height: 130%;
		&:first-of-type {
			margin-bottom: 16px;
		}
	}
}
