@import "reset";
@import "fonts";
@import "./vars";

html {
	scrollbar-color: $accentColor $secondlyColor;
	scrollbar-width: thin;
}

body {
	font-family: "Cormorant Garamond", serif;
	font-size: 18px;
	color: $primaryColor;
	background-color: $secondlyColor;
	cursor: default;
}

::selection {
	color: $primaryColor;
	background-color: $accentColor;
}

.container {
	max-width: 1330px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	font-size: 48px;
	font-weight: 700;
	line-height: 120%;
}

@import "./header";
@import "./nav";
@import "./home/intro";
@import "./home/description";
@import "./home/selection";
@import "./components/service";
@import "./home/brend";
@import "./home/project";
@import "./footer";
